.text {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: #111f29;
  }
  .text--1 {
    font-size: 28px;
    line-height: 32px;
  }
  .text--3 {
    font-size: 18px;
    line-height: 24px;
  }
  .m-b-n4 {
    margin-bottom: -16px;
  }
  .icon {
    padding: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .icon svg {
    width: 24px;
    height: 24px;
  }
  .icon--size-md {
    padding: 8px;
  }
  .icon--size-md svg {
    width: 28px;
    height: 28px;
  }
  .icon--size-xlg {
    padding: 8px;
  }
  .icon--size-xlg svg {
    width: 72px;
    height: 72px;
  }
  .path-stroke-none {
    fill: none;
  }
  .page {
    height: 100vh;
    color: #111f29;
  }
  .nav--primary {
    background-color: #274152;
    color: #fff;
  }
  .nav--primary path {
    fill: #fff;
  }
  .nav--secondary {
    background-color: #ebedee;
    color: #111f29;
  }
  .page__header {
    position: relative;
  }
  .page__header:after {
    position: absolute;
    right: 0;
    bottom: -4px;
    left: 0;
    height: 4px;
    content: '';
    background-image: linear-gradient(to top, rgba(182, 182, 182, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
    z-index: 1;
  }
  .page__content,
  .page__sidebar {
    float: left;
    overflow: hidden;
  }
  .page__content {
    width: 500px;
  }
  @supports (display: flex) {
    .page__content,
    .page__sidebar {
      width: auto;
      float: none;
    }
  }
  .nav--vertical {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  @media only screen and (min-width: 640px)  {
    @supports (display: grid) {
      .nav--vertical {
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }
  .nav--horizontal {
    padding: 8px 20px;
  }
  .nav-icon {
    display: inline-block;
    text-align: center;
    margin-right: 8px;
  }
  @media only screen and (min-width: 640px)  {
    @supports (display: grid) {
      .nav-icon {
        margin: 0 0 8px;
      }
    }
  }
  .nav-icon--header {
    padding: 8px 0 0;
    margin-right: 16px;
  }
  @supports (display: grid) {
    .nav-icon--header {
      margin: 0 0 16px;
    }
  }
  .nav-icon--hover-style {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .nav-icon--hover-style:hover,
  .nav-icon--hover-style:focus {
    opacity: 1;
    -webkit-transform: translate(0, -1px);
            transform: translate(0, -1px);
  }
  .card-icons {
    display: flex;
    margin: 20px;
    overflow: hidden;
  }
  @supports (display: grid) {
    .card-icons {
      display: grid;
      grid-template-columns: repeat(4, 92px);
      grid-template-rows: repeat(3, 92px);
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }
  }
  .card-icon {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 92px;
    height: 92px;
    margin: 0 16px 16px 0;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    transition: -webkit-transform 0.2s 0.07s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.2s 0.07s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.2s 0.07s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s 0.07s cubic-bezier(0.215, 0.61, 0.355, 1);
    cursor: pointer;
  }
  .card-icon:hover,
  .card-icon:focus {
    -webkit-transform: translate(0, -4px);
            transform: translate(0, -4px);
  }
  @supports (display: flex) {
    .card-icon {
      float: none;
    }
  }
  @supports (display: grid) {
    .card-icon {
      margin: 0;
    }
    .card-icon:nth-child(2) {
      grid-column: span 2;
      grid-row: span 2;
      width: 200px;
      height: 200px;
    }
  }
  .card-icon__icon {
    position: absolute;
    top: 0;
    right: 0;
  }
  .card-icon__icon path {
    fill: #fff;
    stroke: #fff;
  }
  .card-icon__text {
    text-align: center;
    margin-bottom: 8px;
    text-transform: capitalize;
  }
  .header {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #ebedee;
  }
  @supports (display: flex) {
    .header {
      border-bottom: 0;
    }
  }
  .header__image {
    float: left;
  }
  @supports (display: flex) {
    .header__image {
      float: none;
    }
  }
  .header__content {
    margin-top: 20px;
  }
  @supports (display: flex) {
    .header__content {
      margin-top: 0;
    }
  }
  @supports (display: grid) {
    .page {
      display: grid;
      grid-template-rows: 40px auto auto 1fr 56px;
      grid-template-areas: "sub-nav" "header" "content" "sidebar" "main-nav";
      overflow: hidden;
    }
    @media only screen and (min-width: 640px)  {
      .page {
        grid-template-columns: 56px 2fr 1fr;
        grid-template-rows: 40px auto 1fr;
        grid-template-areas: "main-nav sub-nav sub-nav" "main-nav header header" "main-nav content sidebar";
      }
    }
    .nav--primary {
      grid-area: main-nav;
    }
    .nav--secondary {
      grid-area: sub-nav;
    }
    .page__header {
      grid-area: header;
    }
    .page__content {
      grid-area: content;
      display: flex;
      justify-content: center;
    }
    .page__sidebar {
      grid-area: sidebar;
      background: #ebedee;
    }
  }
  .animate-color {
    -webkit-animation: animate-color 30s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite;
            animation: animate-color 30s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite;
  }
  .animate-color path {
    will-change: fill;
  }
  @-webkit-keyframes animate-color {
    0%,
    100% {
      fill: #f1c40f;
      stroke: #fff;
    }
    20% {
      fill: #c0392b;
    }
    40% {
      fill: #e67e22;
    }
    60% {
      fill: #d35400;
    }
    80% {
      fill: #fff;
    }
  }
  @keyframes animate-color {
    0%,
    100% {
      fill: #f1c40f;
      stroke: #fff;
    }
    20% {
      fill: #c0392b;
    }
    40% {
      fill: #e67e22;
    }
    60% {
      fill: #d35400;
    }
    80% {
      fill: #fff;
    }
  }
  