<link rel="stylesheet" href="/css/manualControl.css">
   <!-- Header -->
    <header class="w3-container">
      <h5><b><i class="fa fa-dashboard"></i> Control Manual</b></h5>
    </header>

<div class="grid">

        <div class="section1">
            <div class="buttonBox">
                <button class="btn" id="arriba" ></button>

            </div>
        </div>

        <div class="section2">
            <div class="buttonBox">
                <button class="btn" id="izquierda"></button>

            </div>
            <div class="buttonBox">
                <button class="btn" id="derecha"></button>

            </div>
        </div>

        <div class="section1">

            <div class="buttonBox">
                <button class="btn" id="abajo"></button>
                
            </div>

        </div>
 </div>

<script src="/js/control-manual.js"></script>
