<link rel="stylesheet" href="/css/manualControl.css">
<script src="/js/control-manual2.js"></script>



<div class="grid mx-auto">
    
    <div class="section1">
        <div class="webcam" id="webcam">
            <img src="" alt="">

        </div>
    </div>
    <div class="section1">
        <div class="buttonBox">
            <button class="btn"  id="arriba" ></button>

        </div>
    </div>

    <div class="section2">
        <div class="buttonBox">
            <button class="btn  text-center display-1" id="izquierda"></button>
            

        </div>
        <div class="buttonBox">
            <button class="btn  text-center display-1" id="derecha"></button>

        </div>
    </div>

    <div class="section1">

        <div class="buttonBox">
            <button class="btn" id="abajo"></button>

        </div>

    </div>
</div>

