<link rel="stylesheet" href="/css/manualControl.css">
<script src="/js/control-manual2.js"></script>



<div class="grid mx-auto">

    <div class="section1">
        <div class="buttonBox">
            <button class="btn" clicked="no"  id="arriba" ><i class="btn-text fas fa-arrow-up fa-2x"></i></button>

        </div>
    </div>

    <div class="section2">
        <div class="buttonBox">
            <button class="btn  text-center display-1" id="izquierda"><i class="btn-text fas fa-arrow-left fa-2x"></i></button>
            

        </div>
        <div class="buttonBox">
            <button class="btn  text-center display-1" id="derecha"><i class="btn-text fas fa-arrow-right fa-2x"></i></button>

        </div>
    </div>

    <div class="section1">

        <div class="buttonBox">
            <button class="btn" id="abajo"><i class="btn-text fas fa-arrow-down fa-2x"></i></button>

        </div>

    </div>
</div>

