<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
      <img class = "rounded-circle mx-auto d-block logo  " src="/img/logo1.svg" alt="">
      </div>
    </div>
  </div>
</header>