<link rel="stylesheet" href="/css/index.css">

<div class="grid">

    <div class="section1">

        <div class="logo-container"> <img class = "logo" src="/img/logo1.svg" alt="">
        </div>


     

    </div>

    <div class="section2">


    </div>

    <div class="section1">


    </div>
</div>