<!-- Footer -->


{{#if user}}
<footer id="footer">
    <p class="copyright">&copy; SandSeiso. All rights reserved. Design: <a target="_blank"
            href="https://kenaihub.com">Erick Torres</a>. and <a target="_blank"
            href="https://html5up.net">AJ</a>. </p>
</footer>

{{else}}



{{/if}}