{{#if user}}
           <div class="d-sm-flex align-items-left  mt-4">
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mb-2">
                  <i class="fa fa-bars"></i>
              </button>
          </div>
{{else}}

{{/if}}