<head>
	<title>SandSeiso || Admin</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<script src="/js/socket.io.js"></script>
	<!-- include socket.io client side script -->
	<!-- <link rel="stylesheet" href="/css/admin.css" /> -->
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/manualControl.css">
	<link rel="stylesheet" href="/css/sidebar.css">


</head>