{{#unless user}}

<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      </li>
          <li class="nav-item ">
        <a class="nav-link btn btn-link active" href="/users/signin"><strong>Ingresar</strong></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link btn btn-link" href="/acerca"><strong>Acerca</strong> <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link btn btn-link" href="/contacto"><strong>Contacto</strong></a>

     <li class="nav-item ">
        <a class="nav-link btn btn-link active" href="/users/signup"><strong>Crear cuenta</strong></a>
      </li>
    </ul>
  </div>
</nav>

{{/unless}}