<link rel="stylesheet" href="/css/motor-speed.css" />

<div class=" card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Velocidad de motor</h6>
    </div>
    <div class=" pt-4 card-body ">

        <div class="form-wrapper grid-layout-2">
            <div id="left-content">

                <div class="motor-form mx-auto " id="incdec">

                    <div></div>
                    <div class="form-arrows updownbox">
                        <div>
                            <h4>Motor Derecho</h4>
                        </div>
                        <div class="text-div">
                            <input class="text-input" type="text" value="0" />
                        </div>
                        <div class="arrows">
                            <button class="fas fa-arrow-up"></button>
                            <button class="fas fa-arrow-down"></button>
                        </div>
                    </div>

                </div>

            </div>
            <div id="middle-content">

                <div class="motor-form mx-auto " id="incdec">

                    <div></div>
                    <div class="form-arrows updownbox">
                        <div>
                            <h4>Motor Derecho</h4>
                        </div>
                        <div class="text-div">
                            <input class="text-input" type="text" value="0" />
                        </div>
                        <div class="arrows">
                            <button class="fas fa-arrow-up"></button>
                            <button class="fas fa-arrow-down"></button>
                        </div>


                    </div>

                </div>

            </div>


            <div id="right-content">


            </div>

        </div>



    </div>
</div>