
<div class="row" id="row-login">
  <div class="col-md-4 mx-auto text-center" id="div-login">
    <div class="card mt-4 text-center" id="card-login">
 

      <img class=" mx-auto d-block logo" src="/img/logo1.svg" alt="Logo" >

      <div class="card-body" id="login-form">
        <form action="/users/signin" method="POST">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Usuario" autofocus>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button class="btn btn-info btn-block">
            Signin 
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
