<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-5 text-center">
            <div class="card-header">
                <h1 class="h4">
                    Monitor seiso:
                </h1>
            </div>
            <div class="jumbotron" id="monitor-seiso">
                Iniciando...
            </div>

        </div>
    </div>
</div>
</div>